<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataContext" connectionString="data source=DESKTOP-4NREQDL\SQLEXPRESS;initial catalog=Deloite.Newsfeed;User ID=sa; Password=123.Abc.321;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>